<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./head.ejs %>
  </head>
  <body>
    <% include ./navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">About Us</h1>
        </header>

      </main>
      <!-- /.container -->
      <% include ./baseScripts.ejs %>

    </body>
</html>